HOST=127.0.0.1
PORT=8080

POSTGRES_DB=andromeda
POSTGRES_USER=andromeda
POSTGRES_PASSWORD=andromeda_password
DATABASE_URL=postgres://andromeda:andromeda_password@127.0.0.1:5433/andromeda

ANDROMEDA_CURRENT_USERNAME=andromeda_student
ANDROMEDA_MINIO_PUBLIC_URL=http://127.0.0.1:9000
ANDROMEDA_MINIO_BUCKET=andromeda
ANDROMEDA_MINIO_ROOT_USER=root
ANDROMEDA_MINIO_ROOT_PASSWORD=rootpassword
